aws_secret_access_key = "{{ aws_secret_access_key }}"
aws_access_key_id     = "{{ aws_access_key_id }}"
certificate_id        = "{{ certificate_id }}"
ssh_key               = "{{ ssh_key }}"
datadog_api_key       = "{{ datadog_api_key }}"
datadog_app_key       = "{{ datadog_app_key }}"
db_username           = "{{ db_username }}"
db_password           = "{{ db_password }}"
db_name               = "{{ db_name }}"
